<h1>Weather Forecast</h1>


<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Temperature (C)</th>
    <th>Temperature (F)</th>
    <th>Summary</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts$ | async">
      <td>
        {{forecast.date}}
      </td>
      <td>
        {{forecast.temperatureC}}
      </td>
      <td>
        {{forecast.temperatureF}}
      </td>
      <td>
        {{forecast.summary}}
      </td>
    </tr>
  </tbody>
</table>
